@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<img class="img-responsive" src="~/Images/aboutImageCut.jpeg" />
<article>
    <p>
        We are the industry leading manufacturer of web based parking solutions.
        Our long term vision is to provide a complete professional solution to 
        garages of all sizes all over the world. We have more than 10 years of 
        knowledge in the parking system area and are constantly improving our 
        products to keep our market leading position.
        We will always walk the extra mile to exceed our customers expectations.
    </p>
</article>