@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<img class="img-responsive" src="~/Images/contactImage.jpg" />
<article>
    <address>
        Parking House Lane 22<br />
        Rickmansworth, WD3, Hertfordshire, UK<br />
        <abbr title="Phone">P:</abbr>
        01923-665423
    </address>
</article>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@garage20.com">Support@garage20.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@garage20.com">Marketing@garage20.com</a>
</address>